<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.90801618206-pjtqmmqo8iqpiaremv9184m9ct56e7t9</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>proximanovaexcn-blackit.otf</string>
		<string>proximanovaexcn-black.otf</string>
		<string>proximanovaexcn-extraboldit.otf</string>
		<string>proximanovaexcn-extrabold.otf</string>
		<string>proximanovaexcn-boldit.otf</string>
		<string>proximanovaexcn-bold.otf</string>
		<string>proximanovaexcn-semiboldit.otf</string>
		<string>proximanovaexcn-semibold.otf</string>
		<string>proximanovaexcn-mediumit.otf</string>
		<string>proximanovaexcn-medium.otf</string>
		<string>proximanovaexcn-regularit.otf</string>
		<string>proximanovaexcn-regular.otf</string>
		<string>proximanovaexcn-lightit.otf</string>
		<string>proximanovaexcn-light.otf</string>
		<string>proximanovaexcn-thinit.otf</string>
		<string>proximanovaexcn-thin.otf</string>
		<string>proximanovacond-blackit.otf</string>
		<string>proximanovacond-black.otf</string>
		<string>proximanovacond-extraboldit.otf</string>
		<string>proximanovacond-extrabold.otf</string>
		<string>proximanovacond-boldit.otf</string>
		<string>proximanovacond-bold.otf</string>
		<string>proximanovacond-semiboldit.otf</string>
		<string>proximanovacond-semibold.otf</string>
		<string>proximanovacond-mediumit.otf</string>
		<string>proximanovacond-medium.otf</string>
		<string>proximanovacond-regularit.otf</string>
		<string>proximanovacond-regular.otf</string>
		<string>proximanovacond-lightit.otf</string>
		<string>proximanovacond-light.otf</string>
		<string>proximanovacond-thinit.otf</string>
		<string>proximanovacond-thin.otf</string>
		<string>proximanova-blackit.otf</string>
		<string>proximanova-black.otf</string>
		<string>proximanova-extraboldit.otf</string>
		<string>proximanova-extrabold.otf</string>
		<string>proximanova-boldit.otf</string>
		<string>proximanova-bold.otf</string>
		<string>proximanova-semiboldit.otf</string>
		<string>proximanova-semibold.otf</string>
		<string>proximanova-mediumit.otf</string>
		<string>proximanova-medium.otf</string>
		<string>proximanova-regularit.otf</string>
		<string>proximanova-regular.otf</string>
		<string>proximanova-lightit.otf</string>
		<string>proximanova-light.otf</string>
		<string>proximanova-thinit.otf</string>
		<string>proximanova-thin.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
