<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Property Management.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D9E66752AF1CD1B002E9664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D9E668B2AF1CD1D002E9664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D9E66952AF1CD1D002E9664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
